.homeimage {
  position: relative;
  margin-top: 22px;
}
.homeimage img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  width: 70%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90deg, #1600a0, #9b77e7, transparent);
}
.homeimage p {
  color: white;
  font-size: 20px;
  width: 55%;
  line-height: 2.5rem;
  margin-left: 5rem;
}
.homeimage,
h1 {
  color: white;
}

.text {
  color: #1600a0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
