.welcome-title {
  display: flex;
  margin-top: 10px;
}

.welcome-title h1 {
  background: linear-gradient(90deg, #9b77e7, #1600a0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: yellow;
}

.welcome-container {
  display: flex;
  align-items: center;
}
.welcome-container > div {
  width: 50%;
}

.welcome-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.welcome-laptop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.welcome-laptop img {
  width: 75%;
}

@media (max-width: 900px) {
  .welcome-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .welcome-laptop {
    width: 100%;
    height: auto;
  }
}
