.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
  height: 200px;
}

.right-arrow {
  position: absolute;
  left: 71%;
  width: 5%;
}

.right-arrow:hover {
  transform: scale(1.5);
  transform: scale(1.5);
  transform: scale(1.5);
}

.left-arrow {
  position: absolute;
  right: 70%;
  color: black;
  width: 5%;
}
.left-arrow:hover {
  transform: scale(1.5);
  transform: scale(1.5);
  transform: scale(1.5);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.3);
}
