.table {
  padding: 5rem 2rem 1rem 2rem;
  width: 100%;
  border-spacing: 0;
}

.table tr.table-head th {
  background-color: #1600a0;
  color: #fff;
}

.table th {
  text-align: start;
  padding: 1rem;
  /* width: 30%; */
}

.table tr:hover {
  background-color: #1600a030;
}

.table td {
  padding: 1rem;
  background-color: rgba(0, 12, 117, 0.1);
  border-bottom: 1px solid #000c7530;
}

.table-head th:first-child {
  border-radius: 10px 0 0 0;
}

.table-head th:last-child {
  border-radius: 0 10px 0 0;
}

.close svg {
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.close svg:hover {
  background-color: #1600a0;
}

.close svg {
  color: #1600a0;
}

.close svg:hover {
  color: #fff;
}

.image_cart {
  width: 50px;
  height: 50px;
}
.sent_message {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-form {
  display: flex;
}
.cart-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.cart-inputs > div label {
  display: flex;
  flex-direction: column;
  padding: 7px;
  margin: 5px;
  color: var(--primary-color);
}

.cart-inputs-flexing::placeholder {
  color: aqua;
}
.cart-inputs-flexing input {
  width: 120%;
  padding: 15px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid var(--primary-color);
  background-color: transparent;
}
.cart-name {
  color: var(--primary-color);
}
.cart-buying-item {
  display: flex;
  justify-content: center;
}
.cart-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 4rem;
}
.cart-buying-img {
  display: flex;
  justify-content: flex-end;
}
.cart-buying-img img {
  width: 90%;
  height: 50vh;
  margin-top: 40px;
}
.set-quatity-price input {
  width: 20%;
  margin-left: 10px;
}

.cash-on-delivery {
  display: flex;
  justify-content: flex-end;
  /* width: 85%; */
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-right: 2rem;
}
.checkout-info {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-left: 2rem;
}
.cart-btn-placeorder {
  display: flex;
  justify-content: center;
}
.place-order-btn {
  border: none;
  padding: 12px;
  color: white;
  background: linear-gradient(
    90deg,
    var(--secondary-color),
    var(--primary-color)
  );
  width: 15%;
  font-size: 22px;
  margin-top: 15px;
}

@media (max-width: 1000px) {
  .cart-inputs {
    width: 100%;
  }
  .cart-form {
    display: flex;
    flex-direction: column;
  }
  .cart-buying-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cart-name {
    display: flex;
    justify-content: center;
  }
  .cart-desc > h2 {
    display: flex;
    justify-content: center;
  }
  .set-quatity-price {
    display: flex;
    justify-content: center;
  }
  .set-quatity-price input {
    margin: 17px;
    width: 60px;
  }
  .cart-buying-img img {
    width: 75%;
    margin-right: 5rem;
  }
  .cash-on-delivery {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    color: var(--primary-color);
  }
  .place-order-btn {
    border: none;
    padding: 12px;
    color: white;
    background: linear-gradient(
      90deg,
      var(--secondary-color),
      var(--primary-color)
    );
    width: 26%;
    font-size: 25px;
    margin-top: 10px;
  }
}
@media (max-width: 680px) {
  .cart-buying-img img {
    width: 75%;
    margin-right: 5rem;
    height: 32vh;
  }
  .place-order-btn {
    border: none;
    padding: 12px;
    color: white;
    background: linear-gradient(
      90deg,
      var(--secondary-color),
      var(--primary-color)
    );
    width: 36%;
    font-size: 25px;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .cart-buying-img img {
    width: 75%;
    margin-right: 5rem;
    height: 25vh;
  }
  .place-order-btn {
    border: none;
    padding: 12px;
    color: white;
    background: linear-gradient(
      90deg,
      var(--secondary-color),
      var(--primary-color)
    );
    width: 39%;
    font-size: 25px;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .cart-buying-img img {
    width: 63%;
    margin-right: 4rem;
    height: 16vh;
  }
}
@media (max-width: 800px) {
  .cart-buying-img img {
    width: 64%;
    margin-right: 9rem;
    height: 36vh;
  }
}
